<!DOCTYPE HTML>
<head>
  <title>Detalhes de filme</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Autor</th>
        <th>Ano</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @movie.id %></td>
        <td><%= @movie.nome %></td>
        <td><%= @movie.autor %></td>
        <td><%= @movie.ano %></td>
      </tr>
    </tbody>
  </table>
</body>