<!DOCTYPE HTML>
<head>
  <title>Cadastrar filme</title>
</head>
<body>
  <form method="post" action="/create">
    <table>
      <tr>
        <td><label>Nome: </label></td>
        <td><input type="text" name="nome"/> </td>
      </tr>
      <tr>
        <td><label>Autor: </label></td>
        <td><input type="text" name="autor"/> </td>
      </tr>
      <tr>
        <td><label>Ano: </label></td>
        <td><input type="text" name="ano"/> </td>
      </tr>
    </table>
    <input type="submit" value="Salvar">
  </form>
</body>